* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #fff;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4F5D75;
    min-width: 100vh;
    height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15em;
    width: 100vw;
}

.sunner {
    width: 6em;
    height: 6em;
}

.box{
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
    cursor: pointer;
}
.box:hover input{
    width: 350px;
    background: none;
    border-radius: 10px;
}
.fa-search{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

section:first-of-type {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

section:first-of-type > div:first-of-type {
    display: flex;
    flex-direction: column;
    margin: 2em 0 10em 0;
}

section:first-of-type > img{
    width: 5em;
    height: 5em;
}

section:first-of-type > div:first-of-type > h1 {
    font-size: 7em;
}

section:first-of-type > div:first-of-type > p:first-of-type {
    font-size: 5em;
    color:#ffd52d;
    margin-bottom: 0.1em;
}

section:first-of-type > div:first-of-type > p:last-of-type {
    font-size: 2em;
}

section:last-of-type > article {
    text-align: center;
    width: 13em;
    padding: 1em 0;
    border: 0.2em solid #fff;
    line-height: 3em;
}

section:last-of-type {
    display: flex;
}

section:last-of-type > article > div {
    display: flex;
    justify-content: space-around;
    margin: 0 1em;
}

section:last-of-type > article > div > p:first-of-type {
    font-size: 2em;
    color:#ffd52d;
}

section:last-of-type > article > h1 {
    font-size: 3em;
}

section:last-of-type > article > img {
    width: 4em;
}